.nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__itens {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__phone {
    display: flex;
    justify-content: center;
    align-items: center;
}