    .header {
        height: 648px;
        color: #2B2626;
        background-image: url('../../public/header/BG-Banner.png');
        background-position: bottom;
        background-repeat: no-repeat;
    }

.header__row {
    height: 100%;
    margin: 12px 70px 0 70px;
    position: relative;
}

.header__text {
    width: 459px;
    padding-top: 96px;
    margin: 0;
}

.header__title {
    margin: 0;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
}

.header__subtitle {
    width: 361px;
    margin-top: 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.header__link {
    font-size: 16px;
    font-weight: 700;
    color: #DA2828;
    text-decoration: none;
}

.header__form {
    width: 459px;
    height: 611px;
    position: absolute;
    top: 56px;
    left: calc(50% - 459px/2 + 340.5px);
    background-color: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 8px;
    box-shadow: 0 10px 32px 0 rgb(0 0 0 / 16%);
}

@media (min-width: 780px) and (max-width: 1279px){
    .header {
        height: 1278px;
        color: #2B2626;
        background-image: url('../../public/header/BG-Banner.png');
        background-position: initial;
        background-repeat: no-repeat;
    }

    .header__row {
        height: 100%;
        margin: 12px 35px 0 35px;
        position: relative;
    }

    .header__text {
        width: 459px;
        padding-top: 48px;
        margin: 0;
    }
    
    .header__form {
        width: 100%;
        margin: 50% auto 0 auto;
        position: initial;
        box-shadow: none;
    }
}

@media (min-width: 380px) and (max-width: 779px) {
    .header {
        height: 1185px;
        color: #2B2626;
        background-image: url('../../public/header/BG-Banner@3x.png');
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .header__row {
        height: 100%;
        margin: 12px 17.5px 0 17.5px;
        position: relative;
        
    }

    .header__text {
        width: 100%;
        padding-top: 24px;
        margin: 0;
    }

    .header__title {
        margin: 0;
        font-size: 48px;
        font-weight: 600;
        line-height: 48px;
    }
    
    .header__subtitle {
        width: 100%;
        margin-top: 24px;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }
    
    .header__form {
        width: 100%;
        margin: 10% auto 0 auto;
        position: initial;
        box-shadow: none;
    }
    
}