.main{
    height: 1298px;
    background-color: #F5F5F5;
    background-position: bottom;
    background-image: url('../../public/secondSection/BG-Illustration.png');
    background-repeat: no-repeat;
}

.main__row {
    margin: 0 70px;
}