.vantage {
    height: 337px;
    padding-top: 91px;
    display: flex;
    justify-content: space-between;
    color: #2B2626;
}

.vantage__information {
    width: 460px;
}

.vantage__title {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px; 
}

.vantage__subtitle {
    margin: 24px 0 0 0;
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.vantage__list {
    padding: 0;
    margin: 28px 0 32px 0;
    font-size: 15px;
    font-weight: 600;
    list-style-type: none;
}

.vantage__list--itens {
    margin-bottom: 20px
}

.vantage__list__icon {
    color: #DA2828;
}

.vantage__list__text {
    margin: 0 0 0 19px;
    display: inline-block;
}

.vantage__button {
    width: 240px;
    height: 45px;
    font-size: 14px;
}

.vantage__img {
    width: 644px;
    margin: 0;
}

