.vantage {
    max-width: 1280px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.vantage__information {
    width: 460px;
    height: 337px;
    padding-top: 91px;
}

.vantage__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    margin: 0 0 24px 0 ;
}

.vantage__subtitle {
    color: #444444;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.vantage__list {
    margin: 28px 0 20px 0;
    padding: 0;
    font-size: 15px;
    font-weight: 600;
    list-style-type: none;
}

.vantage__list--itens {
    margin-bottom: 20px
}

.vantage__list__icon {
    color: #DA2828;
}

.vantage__list__text {
    display: inline-block;
    margin: 0 0 0 19px
}

.vantage__button {
    width: 235px;
    height: 45px;
    font-size: 14px;
}

.vantage__img {
    width: 644px;
    height: 337px;
    margin: 0;
    padding: 87px 70px 0 0;
}

