.depositions {
    height: 650px;
    padding-top: 112px;
    color: #2B2626;
}

.depositions__text {
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.depositions__text--span {
    width: 264px;
    color: #DA2828;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.depositions__text--title {
    width: 751px;
    margin: 8px 0 0 0;
    color: #2B2626;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.depositions__text--subtitle {
    width: 556px; 
    margin: 8px 0 0 0;
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    text-align: center;   
}

.carousel{
    height: 515px;
    margin: 0;
}

@media (min-width: 780px) and (max-width: 1279px) {
    .depositions {
        height: 650px;
        padding-top: 100px;
        color: #2B2626;
    }
}

@media (min-width: 380px) and (max-width: 779px) {
    .depositions {
        height: 100%;
        padding: 0;
        margin-top: 50px;
        color: #2B2626;
    }

    .depositions__text {
        width: 300px;
    }
    
    .depositions__text--title {
        font-size: 30px;
        width: auto;
    }
    
    .depositions__text--subtitle {
        width: auto;   
    }

}

