.nav{
    max-height: 72px;
    color: #2B2626;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 30%);
}

.nav__row {
    height: 72px;
    margin: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__text--slogan {
    padding: 0;
    margin: 0;
    font-size: 22px;
    font-weight: 700; 
}

.nav__options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    list-style-type: none;
}

.nav__itens {
    margin-right: 28px;
}

.nav__phone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}
.nav__icone--phone {
    margin-right: 15px;
    font-size: 24px;
}

.nav__phone--number {
    font-size: 16px;
    font-weight: 400;
}

.nav__button {
    width: 129px;
    height: 46px;
    font-size: 13px;
}